In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("./world_ua_bboxes_tweetcount.csv")

In [31]:
df[[0,1,6,7]].head()

    Center              Urban_Area         lon        lat
0    Tokyo          Tokyo?Yokohama  139.731993  35.709026
1  Jakarta                 Jakarta  106.845599  -6.208763
2    Delhi                   Delhi   77.209021  28.613939
3   Manila                  Manila  120.984220  14.599512
4    Seoul  Seoul?Gyeonggi?Incheon  126.977969  37.566535

In [32]:
chosen = pd.read_csv("./chosen_cities.txt",header=None)

In [33]:
chosen[0] = [item.lstrip("1234567890. ") for item in chosen[0]]

In [34]:
chosen.rename(columns={0:"Center",1:"country"},inplace=True)

In [35]:
tmp = df[['Center','lon','lat']].set_index("Center")

In [36]:
chosen = chosen.join(tmp,on="Center")

In [37]:
chosen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
Center     81 non-null object
country    81 non-null object
lon        81 non-null float64
lat        81 non-null float64
dtypes: float64(2), object(2)
memory usage: 2.6+ KB

In [38]:
cities = list(chosen.Center)

In [39]:
margins = df[df.Center.isin(cities)]

In [40]:
max(margins.lat_margin)

0.41601099716000001

In [41]:
max(margins.lon_margin)

0.54276607319500003

In [42]:
import numpy as np

In [43]:
np.sqrt(2) * max(margins.lon_margin)

0.76758714190835708

In [44]:
# Okay so the max diagonal to sweep up every tweet is 0.77. Just to be safe, I will probably just sweep 
# one degree in either direction and then make a choice later.

In [47]:
max(margins.Area)

8547

In [49]:
margins[margins.Area==8547]

,Center,Urban_Area,Country,Population,Area,Density,lon,lat,lat_rad,goal_side,...,lon_denom,lon_margin,left,top,right,bottom,tweet_count_2011,tweet_count_2012,tweet_count_2013,tweet_count_2014
0,Tokyo,Tokyo?Yokohama,Japan,37843000,8547,4400,139.731993,35.709026,0.62324,92,...,90.390904,0.508901,139.223092,36.125037,140.240893,35.293015,58220,550795,1507253,2013047

In [50]:
min(margins.Density)

1000

In [51]:
margins[margins.Density==1000]

,Center,Urban_Area,Country,Population,Area,Density,lon,lat,lat_rad,goal_side,...,lon_denom,lon_margin,left,top,right,bottom,tweet_count_2011,tweet_count_2012,tweet_count_2013,tweet_count_2014
219,San Juan,San Juan,Puerto Rico,2139000,2246,1000,-66.105735,18.465539,0.322284,47,...,105.588615,0.222562,-66.328297,18.678067,-65.883174,18.253012,2764,31694,153969,214211

In [52]:
margins.lat_margin.loc[0]

0.41601099716000001

In [53]:
margins.lon_margin.loc[0]

0.50890076360799996

In [54]:
margins.lon_margin.loc[0] * np.sqrt(2)

0.71969436179645796

In [57]:
# Okay so within our actual set, the largest margin diagonal is 0.72
# But we will still do 1 degree just cuz

In [60]:
chosen.to_csv("./city-list.csv",index=False)