In [6]:
import pandas as pd

In [7]:
h = pd.read_csv("./retwitter/TwitterTopicTest2016JulyH_100.csv",header=None)

In [8]:
h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11168 entries, 0 to 11167
Data columns (total 6 columns):
0    11168 non-null float64
1    11168 non-null float64
2    11168 non-null float64
3    11168 non-null float64
4    11168 non-null float64
5    11168 non-null float64
dtypes: float64(6)
memory usage: 610.8 KB

In [11]:
hid = pd.read_csv("./retwitter/TwitterTopicTest2016JulyH_100id.csv",header=None)

In [13]:
hid.head()

,0,1,2,3,4,5,6,7,8,9,...,385718,385719,385720,385721,385722,385723,385724,385725,385726,385727
0,5,3,d,d,c,5,f,d,a,d,...,7,5,b,9,a,7,1,9,5,e

In [4]:
d = pd.read_csv("/Users/damoncrockett/Dropbox/Topic_Atlas_Data/shared/sd_sample.csv")

In [11]:
d.head()

,mongo_id,text,basename,lat,lon,postedTime,CPA
0,53dd2d64ad128775b96c7e57,ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚@christinatakeda http://t....,BkbTiQcCYAA8YsH.jpg,32.969020,-117.113547,2014-04-05T03:07:43.000Z,RANCHO PENASQUITOS
1,53dd4f99ad128775b9d29d75,Reducing Network Latency Resulting From Non-ac...,BisTdmuCUAAebKv.png,32.895732,-117.195861,2014-03-14T13:49:32.000Z,MIRA MESA
2,53dd2881ad128775b939f244,When you accidentally take a picture while pla...,BlrYkO9CUAA3DRX.jpg,32.982926,-117.165833,2014-04-20T16:19:19.000Z,BLACK MOUNTAIN RANCH
3,53dd931cad128775b994e45b,Professor brought in cherries on the last day ...,BpY-w1pCMAAC8dv.jpg,32.885024,-117.236850,2014-06-05T19:36:12.000Z,UNIVERSITY
4,53dd3e21ad128775b91adf3a,Great big biz class! #smmw14 @AaronKahlow http...,BjwMvQ3CQAAeI3W.jpg,32.709917,-117.167231,2014-03-27T18:14:20.000Z,DOWNTOWN